@tailwind base;
@tailwind components;
@tailwind utilities;

.rs-picker-default .rs-picker-toggle {
    z-index: 0 !important;
}
.rs-table-header-row-wrapper {
    z-index: 0 !important;
}

/* Animation for notification widget (top-right) */
@keyframes slide-down {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-slide-down {
    animation: slide-down 0.5s ease-out forwards;
}